<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Login - TinyApp</title>

    <style type="text/css">
      .login-form {
        width: 340px;
          margin: 50px auto;
      }
        .login-form form {
          margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
    </style>
  </head>

  <body>

    <%- include('partials/_header') %>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">TinyApp</h1>
        <p class="lead">Your intranet's tiniest URL shortener! We've re-directed <%= siteStats.totalViews %> times through  <%= siteStats.linkCount %> links!</p>
      </div>
    </div>

    <body>
      <% if (errMessage) { %>
      <% if (errMessage === "403") { %>
        <div class="alert alert-danger text-center" role="alert">
          <%= errMessage %> Error! You must be logged in to do that!
        </div>
      <% } else if (errMessage === "logout") { %>
        <div class="alert alert-success text-center" role="alert">
          Successfully logged out!
        </div>
      <% } else if (errMessage === "401") { %>
        <div class="alert alert-danger text-center" role="alert">
          <%= errMessage %> Error! Login credentials failed.
        </div>
      <% } %>
      <% } %>



      <div class="login-form">
          <form action="/login" method="post">
              <h2 class="text-center">Log in</h2>       
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
              </div>
              <div class="clearfix">
                  <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                  <a href="#" class="pull-right">Forgot Password?</a>
              </div>        
          </form>
          <p class="text-center"><a href="/register">Create an Account</a></p>
      </div>
      </body>

      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>